@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: rgb(242, 247, 248);
    --white-color: #fff;
    --dark-color: rgb(61, 79, 96);
    --dark2-color: rgb(0, 17, 32);
    --blue-color: rgb(0, 98, 255);
    --skyblue-color: rgb(0, 153, 255);
    --green-color: rgb(39, 199, 106);
    --pink-color: rgb(253, 65, 190);
    --purple-color: rgb(149, 0, 255);
    --purplewhite-color: rgb(242, 223, 255);
    --gray-color: rgba(140, 140, 140, 0.4);
}

body {
    background-color: var(--light-color);
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* #header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
} */

#header .flex {
    justify-content: space-between;
}

nav .flex {
    justify-content: space-between;
}

#header .container {
    padding: 1.5rem 0;
}

.container nav {
    width: 50%;
}

ul img {
    margin-right: 10px;
}

nav ul li {
    font-weight: 500;
}

.header-right .sign-in {
    background-color: var(--light-color);
    color: var(--dark2-color);
    border: 1px solid var(--dark2-color);
}

.create-account {
    margin-left: 10px;
}

/* section-a start */
#section-a  {
    position: relative;
    margin-top: 11rem;
}

#section-a .grid{
    grid-template-columns: repeat(2, 1fr);
    vertical-align: top;
    gap: 3rem;
}

.bg-image {
    width: 32rem;
    position: relative;
}

.section-a-primary {
    vertical-align: top;
    width: 25rem;
}

.section-a-primary h1 {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--dark2-color);
}

.section-a-primary p {
    line-height: 1.7;
    font-size: 17px;
    width: 21rem;
    color: var(--dark-color);
}

.section-a-primary img {
    width: 20px;
}

.section-a-primary a {
    padding: 16px;
    width: rem;
    margin-right: 15px;
    
}

.section-a-primary a p {
    display: inline-block;
    vertical-align: 20%;
    color: var(--white-color);
    font-size: 14px;
    padding-left: 5px;
    width: 7rem;
}

/* .section-a-primary .btn:hover {
    transform: translateY(10px);
} */

.section-a-secondary {
    width: auto;
    padding-left: 3rem;
}

.borderimage {
    position: absolute;
    width: 13rem;
}

.bdi1 {
    top: 25%;
    left: 49%;
    width: 12rem;
}
.bdi2 {
    top: 18%;
    left: 74%;
    width: 12rem;
}
.bdi3 {
    top: 65%;
    left: 49%;
}
.bdi4 {
    top: 65%;
    left: 73%;
}
.bdi5 {
    top: 93%;
    left: 62%;
    width: 12rem;
}
/* section-a end */

/* section-b start */
#section-b {
    margin: 10rem 0;
}

#section-b .grid {
    grid-template-columns: repeat(8, 1fr);
}

.section-b-text {
    grid-column: 2 / -1;
    line-height: 2.5;
}

.section-b-header {
    font-weight: 600;
    margin-bottom: 7px;
}

.section-b-para {
    line-height: 2;
    width: 42rem;
    color: var(--dark-color);
    margin-bottom: 10px;
}

.section-b-link a {
    margin-left: 5px;
    color: var(--dark2-color);
    font-weight: 500;
}

.section-b-link a:hover {
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
/* section-b end */


/* section-c start */
#section-c {
    margin-bottom: 7rem;
}

#section-c .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

#section-c img {
    width: 15rem;
}

.card {
    background-color: var(--white-color);
    padding: 30px 15px;
    border: none;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

/* #section-c .container .card:nth-child(2) {
    animation-name: scroll;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-duration: 1s;
    animation-range: entry 0 cover 40%
} */

/* .card:hover img{
    animation: slideInLeft 1s ease-in-out;
} */

.section-c1-header {
    font-size: 50px;
    text-align: center;
}

.section-c1-text {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    width: 80%;
    margin-inline: auto;
}

.section-c2-header,
.section-c3-header,
.section-c4-header,
.section-c5-header,
.section-c6-header {
    font-size: 35px;
    margin: 1.5rem 0;
}

.section-c2-header,
.c2-bottom,
.c2-bottom a {
    color: var(--blue-color);
}

.section-c3-header,
.c3-bottom,
.c3-bottom a {
    color: var(--skyblue-color);
}

.section-c4-header,
.c4-bottom,
.c4-bottom a {
    color: var(--green-color);
}

.section-c5-header,
.c5-bottom,
.c5-bottom a {
    color: var(--pink-color);
}

.section-c2-text,
.section-c3-text,
.section-c4-text,
.section-c5-text,
.section-c6-text {
    line-height: 1.6;
    font-size: 20px;
    color: var(--dark-color);
    font-weight: 300;
    width: 65%;
}

#section-c .container .card img {
    position: absolute;
    right: 4%;
    bottom: 0%;
    display: none;
}

#section-c .container .card:hover img {
    display: block;
    animation: slideInLeft 0.6s ease-in-out;
}

.c2-bottom,
.c3-bottom,
.c4-bottom,
.c5-bottom,
.c6-bottom {
    margin-top: 15rem;
}

#section-c .container .card:hover .section-c2-header,
#section-c .container .card:hover i {
    color: var(--white-color);
}

#section-c .container .card:hover .section-c3-header {
    color: var(--white-color);
}

#section-c .container .card:hover .section-c4-header {
    color: var(--white-color);
}

#section-c .container .card:hover .section-c5-header {
    color: var(--white-color);
}

#section-c .container .card:hover a {
    color: var(--white-color);
}

#section-c .container .card:hover p {
    color: var(--white-color);
}

#section-c .container .card:nth-child(2):hover {
    background-color: var(--blue-color);
    color: var(--white-color);
}

#section-c .container .card:nth-child(3):hover {
    background-color: var(--skyblue-color);
    color: var(--white-color);
}
#section-c .container .card:nth-child(4):hover {
    background-color: var(--green-color);
    color: var(--white-color);
}
#section-c .container .card:nth-child(5):hover {
    background-color: var(--pink-color);
    color: var(--white-color);
}
#section-c .container .card:nth-child(6):hover {
    background-color: var(--dark2-color);
    color: var(--white-color);
}

@keyframes slideInLeft {
    from {
        transform: translateX(200px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes scroll {

    to {
        background-color: var(--blue-color);
        color: var(--white-color);
    }
}


/* section-c end */

/* section-d start */
#section-d {
    background-color: var(--white-color);
}

#section-d .container {
    padding: 10rem 0;
}

.d-primary {
    text-align: center;
    margin-bottom: 3rem;
}

.d-header {
    font-size: 50px;
    color: var(--dark2-color);
    margin-bottom: 1rem;
}

.header-text {
    font-size: 23px;
    color: var(--dark-color);
}

.d-secondary {
    background-color: var(--purple-color);
    color: var(--white-color);
    border: none;
    border-radius: 25px;
    padding: 2rem 2rem 0 2rem;

}

.d-secondary-text {
    align-self: start;
    padding-top: 3rem;
}

.d-secondary-img img {
    width: 27rem;
    margin-left: 4rem;
    margin-top: 2rem;
}

#section-d .grid {
    grid-template-columns: repeat(2, 1fr);
}

.secondary-header {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.secondary-text {
    line-height: 1.5;
    font-size: 20px;
    width: 19rem;
    color: var(--purplewhite-color);
    margin-bottom: 7rem;
}

.d-secondary-text a {
    color: var(--white-color);
    font-weight: 500;
    margin-left: 10px;
}
/* section-d end */

/* section-e start */
#section-e {
    margin: 10rem 0;
}

#section-e .container {
    position: relative;
}

#section-e .section-e-header,
#section-e .section-b-text {
    text-align: center;
}

.section-e-header {
    font-size: 50px;
    line-height: 2;
}

.section-b-text {
    font-size: 24px;
    color: var(--dark-color);
    width: 75%;
    line-height: 1.5;
    font-weight: 300;
    margin-inline: auto;
}

#section-e .container img:nth-child(3) {
    width: 50rem;
    border: 10px solid var(--white-color);
    border-radius: 20px;
    margin: 4rem 9rem;
    position: relative;
}

#section-e .container img:nth-child(4) {
    position: absolute;
    width: 4rem;
    bottom: 35%;
    left: 45%;
}
/* section-e end */

/* section-f start */
#section-f {
    margin: 7rem 0 12rem 0;
}

#section-f .grid{
    grid-template-columns: repeat(2, 1fr);
    vertical-align: top;
}

#section-f .container {
    /* border: 1px solid red; */
    overflow: hidden;
    height: 30rem;
}

.section-f-img img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 11rem;
}

.section-f-img {
    border: 10px solid var(--dark2-color);
    border-radius: 30px;
    width: 26rem;
    vertical-align: top;
}

.img-header,
.img-name {
    text-align: center;
    line-height: 3;
}

.img-header {
    margin-top: 10px;
}

.section-f-text-box {
    /* border: 1px solid green; */
    height: 25rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)20%,
        rgba(0, 0, 0, 1)80%,
        rgba(0, 0, 0, 0)
    );
}

.section-f-text {
    width: 20rem;
    margin-inline: auto;
    line-height: 1.7;
    color: var(--dark-color);
    animation: scrollDown 30s ease-in;
    animation-iteration-count: infinite;
}

.section-f-right {
    width: 35rem;
    align-self: flex-start;
    padding: 10rem 0;
}

.section-f-right h2 {
    font-size: 35px;
    color: var(--dark2-color);
    margin-bottom: 2rem;
}

.section-f-right p {
    width: 6rem;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
}

.section-f-right a {
    text-align: center;
    margin-right: 10px;
    padding: 10px;
    display: inline-block;
    background-color: var(--light-color);
    width: 9rem;
    color: var(--dark2-color);
    border: 1px solid var(--gray-color);
}

.section-f-right a img {
    color: var(--dark2-color);
}

.section-f-right img {
    width: 1rem;
}

@keyframes scrollDown {
    from{
        transform: translateY(0);
    }
    to {
        transform: translateY(-800px);
    }
}
/* section-f end */


/* section-g start */
#section-g {
    margin: 7rem 0;
}

.section-g-header h3 {
    font-size: 35px;
    color: var(--dark2-color);
}

#section-g .container .flex {
    width: auto;
    justify-content: space-between;
}

#section-g .container .flex img {
    width: 10rem;
}
#section-g .container .flex img:last-child {
    width: 5rem;
}
/* section-g end */




/* @keyframes scroll {
    background-color{#fff}
} */