@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: rgb(242, 247, 248);
    --white-color: #fff;
    --dark-color: rgb(61, 79, 96);
    --dark2-color: rgb(0, 17, 32);
    --blue-color: rgb(0, 98, 255);
    --skyblue-color: rgb(0, 153, 255);
    --green-color: rgb(39, 199, 106);
    --pink-color: rgb(253, 65, 190);
    --purple-color: rgb(149, 0, 255);
    --purplewhite-color: rgb(242, 223, 255);
    --gray-color: rgba(140, 140, 140, 0.4);
}

body {
    background-color: var(--light-color);
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* #header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
} */

#header .flex {
    justify-content: space-between;
}

nav .flex {
    justify-content: space-between;
}

#header .container {
    padding: 1.5rem 0;
}

.container nav {
    width: 50%;
}

ul img {
    margin-right: 10px;
}

nav ul li {
    font-weight: 500;
}

.header-right .sign-in {
    background-color: var(--light-color);
    color: var(--dark2-color);
    border: 1px solid var(--dark2-color);
}

.create-account {
    margin-left: 10px;
}

.nav-icon {
    display: none;
} 

.nav-icon i {
    font-size: 2rem;
    padding: 1rem;
}

/* section-a start */
#section-a  {
    overflow: hidden;
    /* position: relative; */
    margin-top: 11rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    animation:  slideInBottom 1s ease-in;
}

#section-a .grid{
    grid-template-columns: repeat(2, 1fr);
    vertical-align: top;
    gap: 5rem;
}

.section-a-primary {
    vertical-align: top;
    width: 25rem;
}

.section-a-primary h1 {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--dark2-color);
}

.section-a-primary p {
    line-height: 1.7;
    font-size: 17px;
    width: 21rem;
    color: var(--dark-color);
}

.section-a-primary img {
    width: 20px;
}

.section-a-primary a {
    padding: 16px;
    margin-right: 15px;
}

.section-a-primary a:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.section-a-primary a p {
    display: inline-block;
    vertical-align: 20%;
    color: var(--white-color);
    font-size: 14px;
    padding-left: 5px;
    width: 7rem;
}

/* .section-a-primary .btn:hover {
    transform: translateY(10px);
} */

.section-a-secondary {
    position: relative;
    /* border: 2px solid red; */

}

.bg-image {
    width: 32rem;
    position: relative;
    animation-name: bounce;
    animation-duration: 7s;
    animation-delay: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.borderimage {
    position: absolute;
    width: 13rem;
}

.bdi1,
.bdi2,
.bdi3,
.bdi4,
.bdi5 {
    animation-name: bounce;
    animation-duration: 7s;
    animation-delay: 3ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

 .bdi1 {
    top: 26%;
    left: -10%;
    width: 12rem;
}
.bdi2 {
    top: 24%;
    right: -6%;
    width: 12rem;
}
.bdi3 {
    bottom: 20%;
    left: -11%;
}
.bdi4 {
    bottom: 20%;
    right: -8%;
}
.bdi5 {
    bottom: -5%;
    left: 34%;
    width: 11rem;
} 

@keyframes bounce {
    0%,
    20%,
    60%,
    100% {
        transform: translateY(-20px);
    }

    40%,
    80% {
        transform: translateY(0px);
    }
}

@keyframes slideInBottom {
    from{
        transform: translateY(200px);
        opacity: 0.4;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/* section-a end */

/* section-b start */
#section-b {
    overflow: hidden;
    margin: 10rem 0;
    animation-name: animateOnScroll;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

#section-b .grid {
    grid-template-columns: repeat(10, 1fr);
}

.section-b-image {
    grid-column: 1 / 2;
}

.section-b-text {
    margin-left: 0;
    grid-column: 2 / -1;
    line-height: 2.5;
}

.section-b-text h2 {
    font-size: 20px;
    color: var(--dark2-color);
}

.section-b-header {
    font-weight: 600;
    margin-bottom: 7px;
}

.section-b-para {
    line-height: 1.6;
    font-size: 17px;
    width: 44rem;
    color: var(--dark-color);
    margin-bottom: 10px;
}

.section-b-link a {
    font-size: 14px;
    margin-left: 5px;
    color: var(--dark2-color);
    font-weight: 500;
}

.section-b-link a:hover {
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
/* section-b end */


/* section-c start */
#section-c {
    overflow: hidden;
    margin-bottom: 7rem;
    animation-name: animateOnScroll;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

#section-c .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

#section-c img {
    width: 15rem;
}

.card {
    background-color: var(--white-color);
    padding: 30px 15px;
    border: none;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

/* #section-c .container .card:nth-child(2) {
    animation-name: scroll;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-duration: 1s;
    animation-range: entry 0 cover 40%
} */

/* .card:hover img{
    animation: slideInLeft 1s ease-in-out;
} */

.section-c1-header {
    font-size: 50px;
    text-align: center;
}

.section-c1-text {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    width: 80%;
    margin-inline: auto;
}

.section-c2-header,
.section-c3-header,
.section-c4-header,
.section-c5-header,
.section-c6-header {
    font-size: 35px;
    margin: 1.5rem 0;
}

.section-c2-header,
.c2-bottom,
.c2-bottom a {
    color: var(--blue-color);
}

.section-c3-header,
.c3-bottom,
.c3-bottom a {
    color: var(--skyblue-color);
}

.section-c4-header,
.c4-bottom,
.c4-bottom a {
    color: var(--green-color);
}

.section-c5-header,
.c5-bottom,
.c5-bottom a {
    color: var(--pink-color);
}

.section-c2-text,
.section-c3-text,
.section-c4-text,
.section-c5-text,
.section-c6-text {
    line-height: 1.6;
    font-size: 20px;
    color: var(--dark-color);
    font-weight: 300;
    width: 65%;
}

#section-c .container .card img {
    position: absolute;
    right: 4%;
    bottom: 0%;
    display: none;
}

#section-c .container .card:hover img {
    display: block;
    animation: slideInLeft 0.6s ease-in-out;
}

.c2-bottom,
.c3-bottom,
.c4-bottom,
.c5-bottom,
.c6-bottom {
    margin-top: 15rem;
}

#section-c .container .card:hover .section-c2-header,
#section-c .container .card:hover i {
    color: var(--white-color);
}

#section-c .container .card:hover .section-c3-header {
    color: var(--white-color);
}

#section-c .container .card:hover .section-c4-header {
    color: var(--white-color);
}

#section-c .container .card:hover .section-c5-header {
    color: var(--white-color);
}

#section-c .container .card:hover a {
    color: var(--white-color);
}

#section-c .container .card:hover p {
    color: var(--white-color);
}

#section-c .container .card:nth-child(2):hover {
    background-color: var(--blue-color);
    color: var(--white-color);
}

#section-c .container .card:nth-child(3):hover {
    background-color: var(--skyblue-color);
    color: var(--white-color);
}
#section-c .container .card:nth-child(4):hover {
    background-color: var(--green-color);
    color: var(--white-color);
}
#section-c .container .card:nth-child(5):hover {
    background-color: var(--pink-color);
    color: var(--white-color);
}
#section-c .container .card:nth-child(6):hover {
    background-color: var(--dark2-color);
    color: var(--white-color);
}

@keyframes slideInLeft {
    from {
        transform: translateX(200px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes scroll {

    to {
        background-color: var(--blue-color);
        color: var(--white-color);
    }
}


/* section-c end */

/* section-d start */
#section-d {
    overflow: hidden;
    background-color: var(--white-color);
    animation-name: animateOnScroll;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

#section-d .container {
    padding: 10rem 0;
    
}

.d-primary {
    text-align: center;
    margin-bottom: 3rem;
}

.d-header {
    font-size: 50px;
    color: var(--dark2-color);
    margin-bottom: 1rem;
}

.header-text {
    font-size: 23px;
    color: var(--dark-color);
}

.d-secondary {
    background-color: var(--purple-color);
    color: var(--white-color);
    border: none;
    border-radius: 25px;
    padding: 2rem 2rem 0 2rem;

}

.d-secondary-text {
    align-self: start;
    padding-top: 3rem;
}

.d-secondary-img img {
    width: 27rem;
    margin-left: 4rem;
    margin-top: 2rem;
}

#section-d .grid {
    grid-template-columns: repeat(2, 1fr);
}

.secondary-header {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.secondary-text {
    line-height: 1.5;
    font-size: 20px;
    width: 19rem;
    color: var(--purplewhite-color);
    margin-bottom: 7rem;
}

.d-secondary-text a {
    color: var(--white-color);
    font-weight: 500;
    margin-left: 10px;
}

.d-secondary-img a,
.d-secondary-img i {
    display: none;
}

@keyframes animateOnScroll {
    from{
        opacity: 0;
        scale: 0.6;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
/* section-d end */

/* section-e start */
#section-e {
    overflow: hidden;
    margin: 10rem 0;
    animation-name: animateOnScroll;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

#section-e .container {
    position: relative;
}

#section-e .section-e-header,
#section-e .section-b-text {
    text-align: center;
}

.section-e-header {
    font-size: 50px;
    line-height: 2;
}

.section-b-text {
    font-size: 24px;
    color: var(--dark-color);
    width: 75%;
    line-height: 1.5;
    font-weight: 300;
    margin-inline: auto;
}

#section-e .container .youtube-image img:nth-child(1) {
    width: 50rem;
    border: 10px solid var(--white-color);
    border-radius: 20px;
    margin: 4rem 9rem;
    position: relative;
}

#section-e .container .youtube-image img:nth-child(2) {
    position: absolute;
    width: 4rem;
    bottom: 35%;
    left: 45%;
}
/* section-e end */

/* section-f start */
#section-f {
    overflow: hidden;
    margin: 7rem 0 12rem 0;
    animation-name: animateOnScroll;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

#section-f .grid{
    grid-template-columns: repeat(2, 1fr);
    vertical-align: top;
}

#section-f .container {
    /* border: 1px solid red; */
    overflow: hidden;
    height: 30rem;
}

.section-f-img img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 11rem;
}

.section-f-img {
    border: 10px solid var(--dark2-color);
    border-radius: 30px;
    width: 26rem;
    vertical-align: top;
}

.img-header,
.img-name {
    text-align: center;
    line-height: 3;
}

.img-header {
    margin-top: 10px;
}

.section-f-text-box {
    /* border: 1px solid green; */
    height: 25rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)20%,
        rgba(0, 0, 0, 1)80%,
        rgba(0, 0, 0, 0)
    );
}

.section-f-text {
    width: 20rem;
    margin-inline: auto;
    line-height: 1.7;
    color: var(--dark-color);
    animation: scrollDown 30s ease-in;
    animation-iteration-count: infinite;
}

.section-f-right {
    width: 35rem;
    align-self: flex-start;
    padding: 10rem 0;
}

.section-f-right h2 {
    font-size: 35px;
    color: var(--dark2-color);
    margin-bottom: 2rem;
}

.section-f-right p {
    width: 6rem;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
}

.section-f-right a {
    text-align: center;
    margin-right: 10px;
    padding: 10px;
    display: inline-block;
    background-color: var(--light-color);
    width: 9rem;
    color: var(--dark2-color);
    border: 1px solid var(--gray-color);
}

.section-f-right a img {
    color: var(--dark2-color);
}

.section-f-right img {
    width: 1rem;
}

@keyframes scrollDown {
    from{
        transform: translateY(0);
    }
    to {
        transform: translateY(-800px);
    }
}
/* section-f end */


/* section-g start */
#section-g {
    overflow: hidden;
    margin: 7rem 0;
    animation-name: animateOnScroll;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

.section-g-header h3 {
    font-size: 35px;
    color: var(--dark2-color);
}

#section-g .container .flex {
    width: auto;
    justify-content: space-evenly;
}

#section-g .container .flex img {
    flex-shrink: 0;
    width: 10rem;
}
#section-g .container .flex img:last-child {
    width: 5rem;
}
/* section-g end */


/* footer start */
#footer {
     overflow: hidden;
    animation-name: animateOnScroll;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

#footer {
    margin-bottom: 8rem;
}

#footer  .container {
    /* min-width: 800px; */

}

.f1 img:first-child {
    width: 10rem;
    margin-bottom: 2rem;
}

.f1 img:nth-child(2) {
    width: 5rem;
    margin-inline: auto;
}

.footer-top .flex {
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.f1, .f2, .f3, .f4, .f5 {
    align-self: start;
    line-height: 2;
    flex-grow: 1;

} 

.f2, .f3, .f4 {
    /* min-width: 6rem; */
}

.f5 {

    text-align: right;
}

.f5 .flex {
    justify-content: end;
}

.flex i {
    margin: 10px;
    color: var(--dark-color);
}

.flex p {
    color: var(--dark-color);
    font-size: 12px;
    line-height: 2.5;

}

.flex h4 {
    color: var(--dark2-color);
    font-size: 12px;
    font-weight: 400;
}

.f5 p {
    width: 16rem;
}

.footer-top  {
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--gray-color);
}
.footer-bottom {
    padding: 2rem 0 10rem 0;
}

.footer-bottom p {
    margin-bottom: 2rem;
    color: var(--dark-color);
    font-size: 10px;
    width: 63%;
    line-height: 2.5;
}

.footer-bottom p:nth-child(3) {
    color: var(--blue-color);
}
/* footer end */

/* media-query */
@media (min-width: 0px) and (max-width: 1200px) {
    /* header */
    nav .flex li:nth-child(2),
    nav .flex li:nth-child(3),
    nav .flex li:nth-child(4),
    nav .flex li:nth-child(5),
    nav .flex li:nth-child(6) {
        display: none;
    }

    .header-right {
        display: none;
    }

    .nav-icon {
        display: block;
    } 
    
    #header .container {
        padding: 1.5rem 0;
    }

    /* section a */
    #section-a .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        vertical-align: top;
        gap: 3rem;
    }

    .section-a-primary {
        vertical-align: top;
        width: 100%;
        z-index: 100;
    }

    #section-a  {
        position: relative;
        margin-top: 0rem;
        animation:  slideInBottom 1s ease-in;
    }

    .section-a-primary h1 {
        text-align: center;
        width: 80vw;
        margin-inline: auto;
    }

    .section-a-primary p {
        text-align: center;
        width: 60vw;
        margin-inline: auto;
    }

    /* .section-a-primary a {
        width: 50%;
        margin-inline: auto;
    } */

    .btn {
        padding: 15px 30px;
        margin-inline: auto;
        text-align: center;
        width: 40vw;
        background-color: var(--dark2-color);
        color: var(--white-color);
        border-radius: 10px;
        border: none;
    }

    .section-a-btn {
        width: 70vw;
        margin-inline: auto;
        text-align: center;
    }

    .btniphone {
        margin-left: 0rem;
    }

    .btnandroid {
        margin-left: 0rem;
    }

      /* section-b */
      #section-b .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .section-b-image {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    .section-b-image img {
        margin-inline: auto;
    }
    
    .section-b-text {
        margin-left: 0;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        line-height: 2.5;
    }

    .section-b-image {
        width: 7rem;
        margin-inline: auto;
    }

    .section-b-text {
        margin-inline: auto;
    }

    .section-b-header {
        text-align: center;
    }

   

    #section-c .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 2rem;
    }

    .card {
        width: 70vw;
        margin-inline: auto;
    }


/* section-d start */
    #section-d .container {
        padding: 6rem 0;
    }

    .d-header {
        font-size: 35px;
    }

    .header-text {
        font-size: 18px;
    }

    .section-f-right {
        height: 40vh;
    }

    .section-f-right a {
        margin-bottom: 5px;
    }

    /* .d-secondary {
        width: 90vw;
    } */
}

@media (max-width: 550px) {
    .section-a-primary a p {
        font-size: 10px;
    }

    #section-a  {
        position: relative;
        margin-top: 0rem;
        animation:  slideInBottom 1s ease-in;
    }

    .btn {
        padding: 5px 10px;
        margin-inline: auto;
        text-align: center;
        width: 20vw;
        background-color: var(--dark2-color);
        color: var(--white-color);
        border-radius: 10px;
        border: none;
    }

    .btniphone {
   
    }

    .btnandroid {
        margin-left: 0rem;
    }

    .section-a-primary a {
        padding: 10px;
    
        margin-right: 15px;
    }

    .section-a-primary a p {
        width: 20vw;
    }

}

@media (max-width: 640px) {
    .section-c2-header,
    .section-c3-header,
    .section-c4-header,
    .section-c5-header,
    .section-c6-header {
        font-size: 25px;
        text-align: center;
        margin: 1.5rem 0;
    }

    .section-c2-text,
    .section-c3-text,
    .section-c4-text,
    .section-c5-text,
    .section-c6-text {
        line-height: 1.4;
        font-size: 15px;
        color: var(--dark-color);
        font-weight: 300;
        width: auto;
        text-align: center;
    }

    #section-c .container .card img  {
        width: 8rem;
    }

    .c2-bottom,
    .c3-bottom,
    .c4-bottom,
    .c5-bottom,
    .c6-bottom {
        margin-top: 8rem;
    }

    .secondary-header {
        font-size: 25px;
    }

    .secondary-text {
        font-size: 15px;
    }

    #section-g .container .flex img {
        width: 5rem;
    }

    

}


@media (max-width: 800px) {
    .section-a-secondary {
        margin-inline: auto;
    }

    .bg-image {
        width: 20rem;
        margin-inline: auto;
    }

    .bdi1 {
        top: 26%;
        left: -10%;
        width: 8rem;
    }
    .bdi2 {
        top: 24%;
        right: -6%;
        width: 8rem;
    }
    .bdi3 {
        bottom: 20%;
        left: -11%;
        width: 8rem;

    }
    .bdi4 {
        bottom: 20%;
        right: -8%;
        width: 8rem;

    }
    .bdi5 {
        bottom: -5%;
        left: 34%;
        width: 8rem;
    } 

    .section-a-secondary {
        width: auto;
        padding-left: 0rem;
    }


    .section-b-para {
        width: 80vw;
    }

    .secondary-text {
        margin-bottom: 12rem;
    }

    .section-e-header {
        font-size: 30px;
        width: 70vw;
        margin-inline: auto;
    }

    .section-b-text {
        font-size: 16px;
    }

    .section-f-img {
        width: 65vw;
        margin-inline: auto;
    }

    .section-f-right {
        width: 80vw;
        align-self: center;
        text-align: center;
        padding: 6rem 0;
    }

    /* section-g */
    #section-g .container .flex img {
        width: 7.5rem;
    }
   
    .footer-top .flex {
        width: 100%;
    }
    
/* 
    #section-e .container .youtube-image img:nth-child(1) {
        width: auto;
        border: 10px solid var(--white-color);
        border-radius: 20px;
        margin: 0;
        position: relative;
    } */

    /* .d-secondary-img  {
        margin-inline: auto;
    }

    .d-secondary-img img {
        width: 5rem;
        margin-left: 4rem;
        margin-top: 2rem;
    } */
}

@media (max-width: 1200px) {
    .d-secondary {
        width: 90vw;
        margin-inline: auto;
        /* border: 5px solid green; */
        position: relative;
    }

    .d-secondary-text a,
    .d-secondary-text i {
        display: none;
    }
    
    .d-secondary-img a,
    .d-secondary-img i {
        display: inline-block;
        color: var(--white-color);
        margin-bottom: 1rem;
        font-size: 15px;
    }

    .d-secondary-img a {
        font-size: 10px;
        font-weight: 500;
        margin-right: 0;
        width: 33vw;
    }

    #section-d .container .grid {
        display: block;
    }

    .secondary-header {
        text-align: center;
        margin: 1rem 0;
    }

    .secondary-text {
        line-height: 1.5;
        width: 70vw;
        margin-inline: auto;
        text-align: center;
        color: var(--purplewhite-color);
    }

    

    .d-secondary-img img {
        position: absolute;
        bottom: 0;
        right: 5%;
        width: 30vw;
        margin-left: 0;
        margin-top: 0;
    } 

    .youtube-image {
        width: 80vw;
        margin-inline: auto;
        position: relative;
    }

    #section-e .container .youtube-image img:nth-child(1) {
        width: 100%;
        border: 10px solid var(--white-color);
        border-radius: 20px;
        margin: 0 0;
        position: relative;
    }

    /* section-f */
    #section-f .grid{
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
        vertical-align: top;
    }

    #section-f .container {
        height: 60rem;
    }

    #section-g .container .flex {
        flex-wrap: wrap;
    }

    /* footer */
    #footer  .container {
        padding: 1.5rem;
    }

     .f2, .f3, .f4, .f5 {
       padding-right: 2rem;
    } 

    .footer-top .flex {
        width: 90vw;
    }

    .f5 {
        justify-self: start;
        text-align: left;
        margin-left: 3rem;
    }

    .f5 .flex {
        justify-content: start;
    }
}
@media (min-width: 801px) and (max-width: 1200px) {
    .section-a-secondary {
        margin-inline: auto;
    }

    .bg-image {
        width: 30rem;
        margin-inline: auto;
    }

    .bdi1 {
        top: 26%;
        left: -10%;
        width: 8rem;
    }
    .bdi2 {
        top: 24%;
        right: -6%;
        width: 8rem;
    }
    .bdi3 {
        bottom: 20%;
        left: -11%;
        width: 8rem;

    }
    .bdi4 {
        bottom: 20%;
        right: -8%;
        width: 8rem;

    }
    .bdi5 {
        bottom: -5%;
        left: 34%;
        width: 8rem;
    } 

    .section-a-secondary {
        width: auto;
        padding-left: 0rem;
    }

    .secondary-text {
        font-size: 25px;
        margin-bottom: 27rem;
    }

  
}

@media (max-width: 1300px) {
   /* #footer .container {
    width: 90vw;
   }

   .footer-bottom {
    width: 90vw;
    margin-inline: auto;
   }

   .footer-bottom p {
    margin-bottom: 2rem;
    color: var(--dark-color);
    font-size: 10px;
    width: 80%;
    line-height: 2.5;
} */



/* .footer-top .flex {
    width: 90vw;
    margin-inline: auto;
} */

/* .f5 {
    width: 100vw;
    justify-self: start;
    text-align: left;
    margin-left: 3rem;
} */
}



@media (max-width: 920px) {
    .f4 {
        width: 100vw;
        margin-left: 3rem;
        margin-top: 1rem;
    }
}
@media (max-width: 680px) {
    .f3 {
        width: 100vw;
        margin-left: 3rem;
        margin-top: 1rem;
    }
}
@media (max-width: 450px) {
    .f2 {
        width: 100vw;
        margin-left: 3rem;
        margin-top: 1rem;
    }
    .f1 {
        width: 8rem;
        margin-left: 2rem;
        justify-content: start;
    }

    .footer-top .flex {
        display: block;
    }
}